<!DOCTYPE html>
<html>
  <head>
    <title>OAuth Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>OAuth Test</h1>
    <button><a href='<%= authUrl %>'>Sign in With Google</a></button>
  </body>
</html>
