<!DOCTYPE html>
<html>
  <head>
    <title>Easy Google Drive Uploader</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>

  <body>
    <center><h1>Easy Google Drive Uploader</h1> 
      <p>Easy and secure access to all of your content.</p>
      <button id="grad"><a href='<%= authUrl %>'>Sign in With Google</a></button></center>  
  </body>
</html>
