<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <h4>Name: <%= name %></h4>
    <img src='<%= imgSrc %>'/>
    
    <br/>

    <form action="/auth/upload" method="POST" enctype="multipart/form-data">
        <div>
          <input
            type="file"
            class="form-control"
            name="file"
            required
            id=""
          />
        </div>
        <div>
          <button>
            Upload File
          </button>
        </div>
    </form>

</body>
</html>